@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600;700&family=Mulish:wght@300;400;500;600;700;800&display=swap');
:root{
    --clr-cream: rgb(241, 213, 187);
    --clr-black: rgb(12, 11, 11);
    --clr-white: rgb(255, 255, 255);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
small{
    font-weight: bold;
}

/* Home | Landing Page */

html{
    /* font-family: 'Baloo Bhai 2', cursive; */
    font-family: 'Mulish', sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
}
.container img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.arrow-left{
    position: absolute;
    top: 50%;
    left: 2.5%;
    width: 20px;
    height: 40px;
}
.primary-content{
    position: absolute;
    width: 80%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.primary-heading{    
    font-weight: 400;
    font-size: 50px;
    color: white;
    text-align: center;
}
.primary-heading span{
    font-weight: 700;
}
.primary-paragraph{
    width: 80%;
    color: white;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 49px auto 74px;
}
.btn{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.primary-btn{
    padding: 18px 60px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    font-weight: 300;
    font-size: 25px;
}
.arrow-right{
    position: absolute;
    top: 50%;
    left: 96%;
    width: 20px;
    height: 40px;
}

/* Menu | Sushi Restaurant/menu.html */



/* Cart | Sushi Restaurant/cart.html */


